<html>
    <head>
        <title>Load-Balancing test</title>
        <style>
            p.logo {
                padding-top: 40px;
            }
        </style>
    </head>
    <body>
        <div align=middle>
            <p class="logo">
                <img src="/static/CGI-Logo.jpg" hight=200px width=300px/>
            </p>
            <p>
                <h1>Collaborating with clients </br>to create a better future for all</h1>
            </p>
            <p>
                running on host <b>{{ host }}</b> with IP <b>{{ ip }}</b>
            </p>
        </div>
    </body>
</html>